---
import GithubIcon from '@icons/GithubIcon.astro'
import LinkedinIcon from '@icons/LinkedinIcon.astro'
import WebIcon from '@icons/WebIcon.astro'

interface Props {
  id: string
  name: string
  area: string
  experience: number
  skills: string[]
  description: string
  avatar: string
  github: string
  linkedin: string
  portfolio?: string
}

const {
  id,
  name,
  area,
  experience,
  description,
  skills,
  github,
  linkedin,
  portfolio,
  avatar,
} = Astro.props

const mainSkills = skills.slice(0, 5)
---

<article
  class='bg-gray-800 rounded-lg p-6 flex flex-col justify-center items-start'
>
  <div class='flex justify-start items-start gap-2'>
    <img
      src={avatar}
      alt={name}
      class='w-16 h-16 rounded-full object-cover border-2 border-secondary'
    />
    <div class='flex-1'>
      <h3 class='text-xl font-bold text-white'>{name}</h3>
      <p class='text-pr'>{area}</p>
      <div class='flex items-center text-sm'>
        <span class='text-gray-400'>
          {experience}
          {experience === 1 ? 'año' : 'años'} de experiencia
        </span>
      </div>
    </div>
  </div>

  <p class='mt-4 text-gray-300'>{description}</p>

  <div class='mt-4 flex flex-wrap gap-2'>
    {
      mainSkills.map((skill) => (
        <span class=' text-gray-300 px-2 py-1 rounded text-sm'>{skill}</span>
      ))
    }
  </div>

  <div class='mt-6 flex gap-4'>
    {
      github && (
        <a
          href={github}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-secondary'
          aria-label='GitHub profile'
        >
          <GithubIcon />
        </a>
      )
    }
    {
      linkedin && (
        <a
          href={linkedin}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-secondary'
          aria-label='LinkedIn profile'
        >
          <LinkedinIcon />
        </a>
      )
    }
    {
      portfolio && (
        <a
          href={portfolio}
          target='_blank'
          rel='noopener noreferrer'
          class='text-gray-400 hover:text-secondary'
          aria-label='Personal website'
        >
          <WebIcon />
        </a>
      )
    }
    <a
      href={`/talent/${id}`}
      class='text-gray-400 hover:text-secondary'
      aria-label='Ver perfil'>Ver perfil</a
    >
  </div>
</article>
